name: Publish

on:
  push:
    branches:
      - main

permissions:
  contents: read
  checks: write

jobs:
  ci:
    uses: makerxstudio/shared-config/.github/workflows/node-ci.yml@main
    with:
      node-version: 20.x
      audit-script: npm run audit
      output-test-results: true
      test-script: npm run test:ci

  publish:
    needs: ci
    uses: makerxstudio/shared-config/.github/workflows/node-publish-public.yml@main
    with:
      node-version: 20.x
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
